[project]
	description = Strength Tracker Android
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/borgelino
[access "refs/for/refs/*"]
	read = group user/borgelino
	push = group user/borgelino
	label-Code-Review = -2..+2 group user/borgelino
	label-Verified = -1..+1 group user/borgelino
	rebase = group user/borgelino
	removeReviewer = group user/borgelino
	submit = group user/borgelino
[access "refs/heads/*"]
	read = group user/borgelino
	create = group user/borgelino
	push = +force group user/borgelino
	pushMerge = group user/borgelino
[access "refs/tags/*"]
	push = +force group user/borgelino
	pushTag = group user/borgelino
	pushSignedTag = group user/borgelino
